<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <SitecoreORM>
      <ORMConfiguration type="SitecoreORM.Configuration.Configuration, SitecoreORM">
        <!-- 
          Specify the suffix of the generated class names.
          For example: "Item" will generate Class names "ClassItem".
        -->
        <ClassNameSuffix>Item</ClassNameSuffix>
        <!-- 
          Specify the namespace prefix for the generated classes.
          For example: "Sitecore.Data.Items." will generate namespace "Sitecore.Data.Items.xxx.xxx" 
        -->
        <NameSpacePrefix>Sitecore.Data.Items.</NameSpacePrefix>
        <!--
          Specify any namespaces that you wish to have removed from the namespace.
          For example if all your templates are located in a "Project" or "Components" folder
          you can specify "Project." or "Components." to remove this part of the namespace.
          Resulting namespaces will be NameSpacePrefix.xxx.xxx instead of
          NameSpaceprefix.Project.xxx.xxx or NameSpacePrefix.Components.xxx.xxx
        -->
        <NameSpaceRemove></NameSpaceRemove>
        <!--
          Specify the default file destination. 
          This can be overwritten for each of the include template roots.
        -->
        <DefaultFileDestination>/sitecoreorm/</DefaultFileDestination> 
        <!--
          Specify which template folders to ignore when creating classes and references to
          inherited templates.
          system/ and /common/ is ignored by default
        -->
        <IgnoreTemplateRoots hint="raw:AddIgnoreTemplateRoots">
          <TemplateRoot>system/</TemplateRoot>
          <TemplateRoot>common/</TemplateRoot>
        </IgnoreTemplateRoots>
        <!--
          Specify which template folders to create classes for
          Format:
          <TemplateRoot fileDestination="physical path">name of folder</TemplateRoot>
          Attribute fileDestination is optional and will override the DefaultFileDestination.
          Examples:
            <TemplateRoot fileDestination="d:\project\code\components\">/components/</TemplateRoot>
            <TemplateRoot fileDestination="d:\project\code\project\">/project/</TemplateRoot>
            <TemplateRoot>/mytemplates</TemplateRoot>
        -->
        <IncludeTemplateRoots hint="raw:AddIncludeTemplateRoots">
          <TemplateRoot>/</TemplateRoot>
        </IncludeTemplateRoots>
      </ORMConfiguration>
    </SitecoreORM>
  </sitecore>
</configuration>